h1{
	font-size: 32px;
	/* color:#831212; */
}

#master_main{
	all: unset;
}


/* #left_main{ */
#nav_left{
	display: none;
	/* all: unset; */
}

h2{
	font-size: 40px;
	/* color:#831212; */
}


/* .center_main{ */
	/* display: block; */
	/* display: none; */
	/* visibility: visible; */
/* } */

.right_main{
	width: 88%;
	margin: 0px auto;
	border-width: 5px;
	border-style: solid;
	border-color: #ff7f27;
	padding: 40px;
	margin-bottom: 32px;
	background-color: rgba(0,0,0,1);	

	page-break-after: always;	

}

.nav2{
	display: none;
}

#work{
	display: none;
	/* visibility: hidden; */
}

#info{
	display: block;
	/* margin: auto; */
}


#twine{
	page-break-after: unset;
	/* page-break-after: revert; */
}

#more{
	visibility: visible;
	
	page-break-after: unset;
	/* page-break-after: revert; */
}

/* #vittorio_corbos_unbeatable_game{
	display: block;

} */

.game_h2{
	font-size: 36px;

}

.hidden_title{
	display: block;
	/* margin-bottom: 0px; */
	margin-top: 22px;

}


.center_main{
	margin-top: 12px;

}

/*
#master_main{
	width: 88%;
	margin: 0px auto;
	border-width: 5px;
	border-style: solid;
	border-color: #ff7f27;
	padding: 40px;
	margin-bottom: 32px;
	background-color: rgba(0,0,0,1);		
}



#nav_left{
	display: none;

}

.right_main{
	all: unset;

}*/